.row.advantages
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    %h2.margin-top0 GitLab advantages
    %ul
      %li
        %strong A single app for SCM and CI/CD 
        Souce Code Management and CI/CD are at the core of GitOps. A single app with a seamless experience keeps you productive. 
      %li
        %strong Tightly integrated with Terraform 
        Terraform has emerges as the industry standard for environement provisioning. GitLab [partners with HaishCorp](/solutions/hashicorp/) to make sure your tooling works the best together. 
      %li
        %strong Trusted by the world's largest engineering teams
        From Goldman Sachs and Verizon to Ticketmaster and Siemens, more large enterprise trust GitLab with their code than anyone else. 
%hr.divider
