---
layout: default
title: TAM
description: "How GitLab Technical Account Managers help you succeed."
suppress_header: true
extra_css:
  - tam.css
---

.tam-container
  .messaging-container
    .tam-header
      %p Technical Account Management
      %h2 How GitLab Technical Account Managers help you succeed
    .message.flex-container.full-width
      %p.full-width
        GitLab Technical Account Managers serve as trusted technical advisors to GitLab customers. They help guide and shape the technical deployment and implementation of GitLab for your environment using best practice insights.   The TAM is an orchestrator, who brings together solution architects, customer stakeholders, product management, professional services engineers, support and sometimes sales to help you meet your business objectives and technical goals.
      %p.full-width
        Customers that meet the <a href="https://about.gitlab.com/handbook/customer-success/tam/#responsibilities-and-services">criteria defined in our handbook</a> are aligned with a Technical Account Manager.
  .tam-feature.flex-container.full-width
    .full-width
      %h2 Relationship Management
      %ul
        %li The key point of contact for best practice guidance and a liaison between the customer and other GitLab teams.
        %li Success strategy roadmaps - beginning with a 30/60/90 day success plan.
        %li Own, manage, and deliver the new customer's onboarding experience.
        %li Ensure GitLab customers realize the value of their investment in GitLab.
        %li Regular status and planning calls, including technical Q&amp;A.  
        %li Regular open issue reviews and issue escalations.
        %li Account and system health checks.
        %li Executive business reviews.
        %li GitLab Days &amp; Developer community events 
    .full-width
  .tam-feature.flex-container.full-width
    .full-width
      %h2 Training
      %ul
        %li Best practices consulting
        %li Identification of pain points and feature training required.
        %li Coordination of demos and feature training sessions
        %li Regular communication and updates on GitLab features.
        %li Product and feature guidance - new feature presentations.
    .full-width
  .tam-feature.flex-container.full-width
    .full-width
      %h2 Support
      %ul
        %li User adoption strategy.
        %li Migration best practices and high-level planning.
        %li Go-live guidance in partnership with Support
        %li Upgrade planning in partnership with Support
    .full-width
